.container {
  padding: 0 15%;
  background: transparent;
  max-width: 1179px;
  margin: 0 auto;
}
@media (max-width: 698px) {
  .help {
    display: none;
  }
  .contacts {
    display: none;
  }
}
@media (max-width: 578px) {
  .Pricing {
    display: none;
  }
  .Tour {
    display: none;
  }
}
@media (max-width: 645px) {
  h1 {
    margin-top: 70px;
    margin-bottom: 36px;
    font-size: 62px;
    font-size: 10px;
  }
}
@-webkit-keyframes stratch {
  from {
    width: 10%;
  }
  to {
    width: 100%;
  }
}
@keyframes stratch {
  from {
    width: 10%;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes color {
  from {
    background-color: red;
  }
  10% {
    background-color: #E18012;
  }
  20% {
    background-color: #74E10D;
  }
  40% {
    background-color: #09E1C1;
  }
  60% {
    background-color: #0C09E1;
  }
  80% {
    background-color: #811AE1;
  }
  90% {
    background-color: #E11272;
  }
  to {
    background-color: #17E100;
  }
}
@keyframes color {
  from {
    background-color: red;
  }
  10% {
    background-color: #E18012;
  }
  20% {
    background-color: #74E10D;
  }
  40% {
    background-color: #09E1C1;
  }
  60% {
    background-color: #0C09E1;
  }
  80% {
    background-color: #811AE1;
  }
  90% {
    background-color: #E11272;
  }
  to {
    background-color: #17E100;
  }
}
@-webkit-keyframes font {
  from {
    font-size: 1rem;
  }
  to {
    font-size: 5rem;
  }
}
@keyframes font {
  from {
    font-size: 1rem;
  }
  to {
    font-size: 5rem;
  }
}
.box {
  -webkit-animation: stratch 3s liner infinite alternate;
          animation: stratch 3s liner infinite alternate;
}
a {
  text-decoration: none;
}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.first {
  margin: 0 auto;
  background: url(../images/426107b813c4b5245cf15efe2832f355.jpg) center / cover no-repeat;
}
.first__header {
  background: transparent;
}
.first__row {
  height: 116px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 578px) {
  .Pricing {
    display: none;
  }
}
.first__box-left ul {
  padding: 0;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.first__box-left ul li {
  list-style-type: none;
  text-decoration: none;
  padding: 0 15px;
}
.first__box-left ul li:nth-child(1) {
  padding-left: 0;
}
.first__box-left ul li a {
  text-decoration: none;
}
.first__box-left ul li span {
  text-decoration: none;
  color: #26272D;
}
.first__box-left ul li span:hover {
  color: #9F9FA1;
}
@media (max-width: 1001px) {
  .first__box-center img {
    display: none;
  }
}
.first__box-right ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0;
  padding: 0;
}
.first__box-right ul .apple {
  border-radius: 40px;
  background: url(../images/Apple-Icon.png) 10px 20px no-repeat;
  text-align: center;
  padding: 23px 0 0 0;
  background-color: #267DF4;
  height: 40px;
  width: 130px;
  color: #ffffff;
}
.first__box-right ul .apple span {
  color: #ffffff;
}
.first__box-right ul .apple a {
  color: ffffff;
}
.first__box-right ul li {
  text-decoration: none;
  list-style-type: none;
  padding: 0 15px;
}
.first__box-right ul li a {
  text-decoration: none;
}
.first__box-right ul li span {
  word-spacing: 7px;
  font-size: 16px;
  display: inline-block;
  color: #26272D;
  text-transform: capitalize;
}
.first__box-right ul li span:hover {
  color: #9F9FA1;
}
.first__content {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.first__content button {
  background: #edf0f2 url(../images/Play-Icon.png) 15% 50% no-repeat;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 17px 47px;
  margin-top: 63px;
}
.first__content h1 {
  margin-top: 90px;
  margin-bottom: 56px;
  font-size: 62px;
  text-align: center;
}
.first__content-text {
  display: inline-block;
  max-width: 750px;
  font-size: 20px;
  text-align: center;
  line-height: 1.4;
}
.iphone {
  position: absolute;
  bottom: -200px;
}
@media (max-width: 799px) {
  .iphone {
    display: none;
  }
}
.iphone img {
  height: 500px;
  -webkit-transform: translateY(6%);
          transform: translateY(6%);
}
.time {
  background-color: #fff;
  position: relative;
  z-index: 100;
}
.main-header {
  padding: 0 15px;
}
.first__content-text {
  padding: 0 15px;
}
.time__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px -52px;
  padding: 135px 0px;
}
@media (max-width: 1000px) {
  .time__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .time__row h2 {
    text-align: center;
  }
}
.time__block {
  padding: 0 52px;
}
@media (max-width: 1000px) {
  .time__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.time__block h2 {
  margin: 42px 0;
}
.in-con {
  width: 470px;
}
.in-con .btn {
  background-color: #fff;
  border: 1px solid #EBEBEB;
  font-size: 16px;
  border-radius: 20px;
  padding: 15px 25px 15px 25px;
}
.in-con .pr-btn {
  background: url(../images/Arrow-Icon.png) 170px 50% no-repeat;
  margin-right: 20px;
  color: #fff;
  background-color: #267DF4;
  padding: 15px 77px 15px 25px;
}
.in-con p {
  font-size: 25px;
  color: #8C8F94;
  line-height: 1.4;
}
.in-con h3 {
  width: 230px;
  margin-top: 146px;
  margin-bottom: 85px;
  font-size: 42px;
  color: #26272D;
}
.iphoni {
  background: url(../images/iphone-feature.png) -17% 10% / auto no-repeat;
  height: 100vh;
  margin-top: -266px;
}
.iphoni__row {
  width: 100%;
  margin-top: 265px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}
.iphoni__protect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.box {
  -webkit-animation-name: stratch;
          animation-name: stratch;
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
  -webkit-animation-iteration-count: 1000;
          animation-iteration-count: 1000;
  -webkit-animation-timing-function: liner;
          animation-timing-function: liner;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  position: absolute;
  top: -10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 110%;
  width: 10%;
  background-color: red;
}
.box h1 {
  text-align: center;
  vertical-align: center;
  padding-top: 20%;
  -webkit-animation-name: font;
          animation-name: font;
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
  -webkit-animation-iteration-count: 1000;
          animation-iteration-count: 1000;
  -webkit-animation-timing-function: liner;
          animation-timing-function: liner;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.inbox {
  width: 100%;
  height: 100%;
  -webkit-animation-name: color;
          animation-name: color;
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
  -webkit-animation-iteration-count: 1000;
          animation-iteration-count: 1000;
  -webkit-animation-timing-function: liner;
          animation-timing-function: liner;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.first__box-center {
  --animate-duration: 10s;
}
.anim_btn {
  --animate-duration: 3s;
}
.anim_btn a {
  color: #000;
}
.main-header {
  --animate-duration: 3s;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  /* 	transform: translateX(-400%); */
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.popup__content {
  position: relative;
  color: #000;
  background-color: #fff;
  max-width: 800px;
  padding: 100px 10px;
}
.popup_close {
  text-decoration: none;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
}
.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
